:root {
  --color--icon:#f26464;
  --color--text:#373737;
  --color--background:#F6F8FA;
  --color--text_footer: rgba(255,255,255,0.5);
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
body .container {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  box-sizing: border-box;
}
body footer {
  width: 100%;
  height: 80vh;
  background-color: black;
  padding: 120px 0;
  box-sizing: border-box;
}

header .header--nav {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header--nav .header--left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
}
.header--nav .header--right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
}

.header--left .logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  font-size: 25px;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.header--left .logo--text {
  font-size: 18px;
  letter-spacing: 3px;
}

.header--right .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color--icon);
  color: #fff;
}

.container .introduce {
  padding-bottom: 30px;
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 40px;
}
.container .about--me {
  width: 100%;
  height: auto;
  padding: 0 12px;
}
.container .button--download {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container .skills {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.container .work--experience-section {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}
.container .latest--works-section {
  width: 100%;
  height: auto;
  margin-bottom: 150px;
  padding: 0 12px;
}

.introduce .intro--img {
  margin-right: 100px;
  padding: 0 12px;
}
.introduce .intro--experience {
  padding: 0 12px;
}

.intro--img img {
  width: 450px;
  height: 500px;
}

.intro--experience .intro--greeting1 {
  font-weight: 300;
  margin-bottom: 50px;
  margin-top: 10px;
}
.intro--experience .intro--greeting2 {
  width: 60%;
  font-size: 20px;
  line-height: 70px;
  font-weight: 400;
}
.intro--experience .intro--data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.intro--exp .exp_number {
  font-size: 35px;
  font-weight: 700;
  color: var(--color--icon);
  margin-bottom: 5px;
}
.intro--exp .exp_text {
  letter-spacing: 2px;
}

.about--me .about--me_title {
  margin-bottom: 40px;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
  border-bottom: 2px solid var(--color--icon);
}
.about--me .about--me_text {
  font-size: 24px;
  letter-spacing: 2px;
  color: var(--color--text);
  margin-bottom: 40px;
  font-weight: lighter;
  box-sizing: border-box;
}

.button--download_text {
  width: 250px;
  height: 50px;
  border: 1px solid var(--color--icon);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  border-radius: 50px;
  color: var(--color--icon);
  transition-duration: 0.4s;
}

.button--download_text:hover {
  color: #fff;
  background-color: var(--color--icon);
}

.skills .skill--item {
  width: 50%;
  height: auto;
  padding: 0 12px;
}

.skill--item .skills_title {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 2px solid var(--color--icon);
  margin-bottom: 40px;
}
.skill--item .list--skills {
  display: flex;
  flex-wrap: wrap;
}

.list--skills .btn-skill {
  display: inline-block;
  color: #373737;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 27px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-weight: 600;
}

.work--experience-section .work--experience {
  width: 100%;
  height: auto;
  display: flex;
}
.work--experience-section .work--experience_title {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 2px solid var(--color--icon);
  margin-bottom: 40px;
  margin-left: 12px;
}

.work--experience .work--experience_part {
  width: 50%;
  height: auto;
  padding: 0 12px;
}

.work--experience_part span {
  display: block;
  margin-bottom: 10px;
}
.work--experience_part .work--ex_year {
  font-weight: 600;
}
.work--experience_part .work--ex_nameOffice {
  font-size: 24px;
  font-weight: 100;
}
.work--experience_part .work--ex_position {
  font-size: 18px;
  font-weight: 600;
}

.work_ex_text .work_ex_text_item {
  padding-left: 12px;
}

.work_ex_text_item li {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 20px;
  padding: 0;
}

.latest--works-section .latest--works-section_title {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 2px solid var(--color--icon);
  margin-bottom: 40px;
}
.latest--works-section .latest--works {
  width: 100%;
  height: auto;
  background-color: var(--color--background);
  margin-bottom: 30px;
}

.latest--works .latest--works_list {
  width: 100%;
  height: auto;
  display: flex;
  padding: 40px 70px 0 70px;
  box-sizing: border-box;
}

.latest--works_list .work_list {
  width: 50%;
  height: auto;
}

.works_list_right img {
  max-width: 100%;
  height: auto;
}

.works_list_left .works_list_left_text {
  width: 80%;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}
.works_list_left .works_list_left_button {
  width: 120px;
  height: auto;
  border: solid 2px var(--color--icon);
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 5px;
  color: var(--color--icon);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 3px;
  margin-top: 40px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.works_list_left_button:hover {
  background-color: var(--color--icon);
  color: white;
}

footer .footer--container {
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .footer--copyRight {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer--container span {
  color: var(--color--text_footer);
  font-weight: bold;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.footer--container h4 {
  font-weight: bold;
  font-size: 48px;
  margin: 20px 0 10px 0;
}
.footer--container p {
  font-weight: 400;
  margin-bottom: 40px;
}
.footer--container .footer--container_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: auto;
  border: 2px solid var(--color--icon);
  text-decoration: none;
  color: var(--color--icon);
  padding: 15px 20px;
  transition-duration: 0.4s;
  border-radius: 30px;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 40px;
}
.footer--container .footer--container_button:hover {
  color: white;
  background-color: var(--color--icon);
}

.footer--copyRight a {
  text-decoration: none;
  color: white;
}
.footer--copyRight a:hover {
  color: var(--color--icon);
  transition-duration: 0.4s;
}/*# sourceMappingURL=style.css.map */